@use '../custom' as *;
@use '../components/mixins' as *;

.table-tools {
    position: relative;

    &__panel-heading {
        color: $gray-600;
        margin-bottom: 1rem;

        .pull-right {
            float: right;
        }
    }

    &__panel-body {
        width: 100%;
        height: 3rem;

        button {
            margin-left: 0.5rem;
            height: 100%;
        }
    }
}



.table-projects {
    width: 100%;
    height: 10rem;
    justify-content: center;
    font-size: 1rem;

    thead {
        text-transform: capitalize;
        background-color: $primary;

        tr {
            th {
                color: $white;
            }
        }
    }

    tbody {
        tr {
            td {
                text-align: center;

                a {
                    color: $black;
                    text-decoration: none;

                    &:hover {
                        color: $pink;
                    }
                }

                .btn {
                    color: $white;
                    text-decoration: none;
                }
            }

            .index-data {
                font-weight: bold;
            }

            .des-project {
                text-align: left;
            }

            .btn-container {
                text-align: center;
            }

        }
    }
}

.table-responsive {
    display: block;
    width: 100%;
    height: 20rem;
    overflow-x: auto;
    font-size: 1rem;
    @include media-breakpoint-down(xxl) { 
        font-size: 0.7rem;
    }
    table {
        thead {
            position: sticky;
            top: 0;
            z-index: 1;
            text-transform: capitalize;
            background-color: $primary;
            tr {
                th {
                    color: $white;
                }
            }
        }

        tbody {
            tr {
                td {
                    text-align: center;

                    a {
                        color: $black;
                        text-decoration: none;
                        
                        &:hover {
                            color: $pink;
                        }
                    }

                    .btn {
                        color: $white;
                        text-decoration: none;
                    }
                    .btn-container {
                        width: 100%;
                        text-align: center;
                        a{
                            display: inline-block;
                        }
                    }
                    small{
                        color:$gray-400;
                        font-style: italic;
                        font-size: 0.8rem;
                        @include media-breakpoint-down(xxl) { 
                            font-size: 0.3rem;
                        }
                    }
                }
                

                th {
                    text-align: center;
                }

                .des-project {
                    text-align: left;
                }

                

            }
        }
    }
}